src/flows/Block_Funding_Generate_Program_Periods.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_End_Date</name>
        <label>ASSIGN End Date</label>
        <locationX>801</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>LOOP_Open_Reporting_Periods.Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Expired_Funding_Period.Period_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Funding_Period_Values</name>
        <label>ASSIGN Funding Period Values</label>
        <locationX>917</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Funding_Period.Funding_Period_Target_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Funding_Target_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Funding_Period_Target_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Funding_Target_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Funding_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Total_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Total_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Funding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Period_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Funding_Period</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Funding_Period_Values_0</name>
        <label>ASSIGN Funding Period Values</label>
        <locationX>1509</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>Funding_Period.Funding_Period_Target_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Funding_Target_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Funding_Period_Target_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Funding_Target_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Funding_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Total_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Total_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Funding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expired_Funding_Period_End_Date_Add_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Funding_Period_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Funding_Period_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Funding_Period_Values_0_0</name>
        <label>ASSIGN Funding Period Values</label>
        <locationX>1514</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>Funding_Period.Funding_Period_Target_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Funding_Target_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Funding_Period_Target_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Funding_Target_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Funding_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Total_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Total_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Funding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expired_Funding_Period_End_Date_Add_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funding_Period.Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Funding_Period_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Record_to_Collection</name>
        <label>ASSIGN Record to Collection</label>
        <locationX>801</locationX>
        <locationY>1220</locationY>
        <assignmentItems>
            <assignToReference>Program_Periods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Open_Reporting_Periods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Open_Reporting_Periods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Reporting_Period_Counter</name>
        <label>ASSIGN Reporting Period Counter</label>
        <locationX>979</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>Open_Reporting_Period_Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_Open_Reporting_Periods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECISION_Open_Reporting_Periods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Reporting_Period_Values</name>
        <label>ASSIGN Reporting Period Values</label>
        <locationX>485</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Reporting_Period.Funding_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Period.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reporting_Period.Funding_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reporting_Period.Period_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reporting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reporting_Period.Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reporting_Period.Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reporting_Period_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Reporting_Period</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Reporting_Period_Values_0_0_0_0</name>
        <label>ASSIGN Reporting Period Values</label>
        <locationX>2088</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>Reporting_Period.Funding_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Expired_Reporting_Period.Funding_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reporting_Period.Funding_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reporting_Period.Period_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reporting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reporting_Period.Period_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expired_Reporting_Period_End_Date_Add_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECISION_Reporting_Period_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Reporting_Period_Values_0_0_0_0_0</name>
        <label>ASSIGN Reporting Period Values</label>
        <locationX>2554</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>Reporting_Period.Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Expired_Reporting_Period.Funding_Period__r.Period_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Reporting_Period_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Reporting_Period_Values_0_0_0_0_0_0</name>
        <label>ASSIGN Reporting Period Values</label>
        <locationX>2553</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>Reporting_Period.Period_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Reporting_Period_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Reporting_Period_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DECISION_Funding_Program_End_Date</name>
        <label>DECISION Funding Program End Date</label>
        <locationX>1210</locationX>
        <locationY>884</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Funding_Period_Values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funding_Program_End_Date_Program_Period_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Funding_Program.End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GET_Expired_Funding_Period.Period_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <label>Funding Program End Date &lt;= Program Period End Date</label>
        </rules>
        <rules>
            <name>Funding_Program_End_Date_Calculated_New_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Funding_Program.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>New_Funding_Period_End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Funding_Period_Values_0_0</targetReference>
            </connector>
            <label>Funding Program End Date &lt; Calculated New End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Open_Reporting_Periods</name>
        <label>DECISION Open Reporting Periods</label>
        <locationX>971</locationX>
        <locationY>883</locationY>
        <defaultConnector>
            <targetReference>DECISION_Funding_Program_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Reporting Periods do NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Open_Reporting_Periods_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Open_Reporting_Period_Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Open_Reporting_Periods</targetReference>
            </connector>
            <label>Open Reporting Periods Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Reporting_Period_End_Date</name>
        <label>DECISION Reporting Period End Date</label>
        <locationX>2293</locationX>
        <locationY>275</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Reporting_Period_Values_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funding_Period_End_Date_Calculated_New_Reporting_Period_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Expired_Reporting_Period.Funding_Period__r.Period_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>New_Reporting_Period_End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Reporting_Period_Values_0_0_0_0_0</targetReference>
            </connector>
            <label>Funding Period End Date &lt; Calculated New Reporting Period End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Required_Operation</name>
        <label>DECISION Required Operation</label>
        <locationX>1357</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>Unhandled Operation</defaultConnectorLabel>
        <rules>
            <name>Activated_Funding_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Activated_Funding_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Funding_Program</targetReference>
            </connector>
            <label>Activated Funding Program</label>
        </rules>
        <rules>
            <name>Expired_Funding_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Expired_Funding_Period</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Expired_Funding_Period</targetReference>
            </connector>
            <label>Expired Funding Period</label>
        </rules>
        <rules>
            <name>Expired_Reporting_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Expired_Reporting_Period</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Expired_Reporting_Period</targetReference>
            </connector>
            <label>Expired Reporting Period</label>
        </rules>
    </decisions>
    <description>Autolaunched flow contains business logic for automated generation of Funding and Reporting Periods for Funding Programs</description>
    <environments>Default</environments>
    <formulas>
        <name>Expired_Funding_Period_End_Date_Add_1</name>
        <dataType>Date</dataType>
        <expression>{!GET_Expired_Funding_Period.Period_End_Date__c}+1</expression>
    </formulas>
    <formulas>
        <name>Expired_Reporting_Period_End_Date_Add_1</name>
        <dataType>Date</dataType>
        <expression>{!GET_Expired_Reporting_Period.Period_End_Date__c}+1</expression>
    </formulas>
    <formulas>
        <name>Funding_Period_End_Date</name>
        <dataType>Date</dataType>
        <expression>IF(
    TEXT({!Funding_Program.Funding_Period__c}) = &quot;Weekly&quot;, {!Funding_Program.Start_Date__c}+7,
IF(
    TEXT({!Funding_Program.Funding_Period__c}) = &quot;Monthly&quot;, ADDMONTHS({!Funding_Program.Start_Date__c},1)-1,
IF(
    TEXT({!Funding_Program.Funding_Period__c}) = &quot;Quarterly&quot;, ADDMONTHS({!Funding_Program.Start_Date__c},3)-1,
IF(
    TEXT({!Funding_Program.Funding_Period__c}) = &quot;Annually&quot;, ADDMONTHS({!Funding_Program.Start_Date__c},12)-1,
NULL
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>New_Funding_Period_End_Date</name>
        <dataType>Date</dataType>
        <expression>IF(
    TEXT({!Funding_Program.Funding_Period__c}) = &quot;Weekly&quot;, {!Expired_Funding_Period_End_Date_Add_1}+7,
IF(
    TEXT({!Funding_Program.Funding_Period__c}) = &quot;Monthly&quot;, ADDMONTHS({!Expired_Funding_Period_End_Date_Add_1},1),
IF(
    TEXT({!Funding_Program.Funding_Period__c}) = &quot;Quarterly&quot;, ADDMONTHS({!Expired_Funding_Period_End_Date_Add_1},3),
IF(
    TEXT({!Funding_Program.Funding_Period__c}) = &quot;Annually&quot;, ADDMONTHS({!Expired_Funding_Period_End_Date_Add_1},12),
NULL
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>New_Reporting_Period_End_Date</name>
        <dataType>Date</dataType>
        <expression>IF(
    TEXT({!Funding_Program.Reporting_Period__c}) = &quot;Weekly&quot;, {!Reporting_Period.Period_Start_Date__c}+7,
IF(
    TEXT({!Funding_Program.Reporting_Period__c}) = &quot;Monthly&quot;, ADDMONTHS({!Reporting_Period.Period_Start_Date__c},1)-1,
IF(
    TEXT({!Funding_Program.Reporting_Period__c}) = &quot;Quarterly&quot;, ADDMONTHS({!Reporting_Period.Period_Start_Date__c},3)-1,
IF(
    TEXT({!Funding_Program.Reporting_Period__c}) = &quot;Annually&quot;, ADDMONTHS({!Reporting_Period.Period_Start_Date__c},12)-1,
NULL
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>Reporting_Period_End_Date</name>
        <dataType>Date</dataType>
        <expression>IF(
    TEXT({!Funding_Program.Reporting_Period__c}) = &quot;Weekly&quot;, {!Funding_Program.Start_Date__c}+7,
IF(
    TEXT({!Funding_Program.Reporting_Period__c}) = &quot;Monthly&quot;, ADDMONTHS({!Funding_Program.Start_Date__c},1)-1,
IF(
    TEXT({!Funding_Program.Reporting_Period__c}) = &quot;Quarterly&quot;, ADDMONTHS({!Funding_Program.Start_Date__c},3)-1,
IF(
    TEXT({!Funding_Program.Reporting_Period__c}) = &quot;Annually&quot;, ADDMONTHS({!Funding_Program.Start_Date__c},12)-1,
NULL
)
)
)
)</expression>
    </formulas>
    <interviewLabel>Block Funding - Generate Program Periods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Block Funding - Generate Program Periods</label>
    <loops>
        <name>LOOP_Open_Reporting_Periods</name>
        <label>LOOP Open Reporting Periods</label>
        <locationX>978</locationX>
        <locationY>1102</locationY>
        <collectionReference>GET_Open_Reporting_Periods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_Program_Periods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_Funding_Period</name>
        <label>CREATE Funding Period</label>
        <locationX>724</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>ASSIGN_Reporting_Period_Values</targetReference>
        </connector>
        <inputReference>Funding_Period</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Funding_Period_0</name>
        <label>CREATE Funding Period</label>
        <locationX>1738</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>UPDATE_Expired_Funding_Period</targetReference>
        </connector>
        <inputReference>Funding_Period</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Reporting_Period</name>
        <label>CREATE Reporting Period</label>
        <locationX>261</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>UPDATE_Funding_Program</targetReference>
        </connector>
        <inputReference>Reporting_Period</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Reporting_Period_0_0</name>
        <label>CREATE Reporting Period</label>
        <locationX>2763</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>UPDATE_Expired_Reporting_Period</targetReference>
        </connector>
        <inputReference>Reporting_Period</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_Expired_Funding_Period</name>
        <label>GET Expired Funding Period</label>
        <locationX>1365</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Funding_Program_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Funding_Period_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Expired_Reporting_Period</name>
        <label>GET Expired Reporting Period</label>
        <locationX>1682</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Funding_Program_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reporting_Period_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Funding_Program</name>
        <label>GET Funding Program</label>
        <locationX>1097</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Funding_Period_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Funding_Program_Id</elementReference>
            </value>
        </filters>
        <object>Funding_Program__c</object>
        <outputReference>Funding_Program</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Funding_Period__c</queriedFields>
        <queriedFields>Funding_Target_Quantity__c</queriedFields>
        <queriedFields>Funding_Target_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Reporting_Period__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Funding_Program_0_0</name>
        <label>GET Funding Program</label>
        <locationX>1365</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Open_Reporting_Periods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Funding_Program_Id</elementReference>
            </value>
        </filters>
        <object>Funding_Program__c</object>
        <outputReference>Funding_Program</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Funding_Period__c</queriedFields>
        <queriedFields>Funding_Target_Quantity__c</queriedFields>
        <queriedFields>Funding_Target_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Reporting_Period__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Funding_Program_0_0_0</name>
        <label>GET Funding Program</label>
        <locationX>1868</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Reporting_Period_Values_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Funding_Program_Id</elementReference>
            </value>
        </filters>
        <object>Funding_Program__c</object>
        <outputReference>Funding_Program</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Funding_Period__c</queriedFields>
        <queriedFields>Funding_Target_Quantity__c</queriedFields>
        <queriedFields>Funding_Target_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Reporting_Period__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Open_Reporting_Periods</name>
        <label>GET Open Reporting Periods</label>
        <locationX>1176</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Reporting_Period_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Expired_Funding_Period.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>GET_Expired_Funding_Period.Period_End_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Expired_Funding_Period</name>
        <label>UPDATE Expired Funding Period</label>
        <locationX>1943</locationX>
        <locationY>960</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Expired_Funding_Period.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Period_Expired__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Program_Period__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Expired_Reporting_Period</name>
        <label>UPDATE Expired Reporting Period</label>
        <locationX>2947</locationX>
        <locationY>264</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Expired_Reporting_Period.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Period_Expired__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Program_Period__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Funding_Program</name>
        <label>UPDATE Funding Program</label>
        <locationX>50</locationX>
        <locationY>270</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Funding_Program.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Funding_Program__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Program_Periods</name>
        <label>UPDATE Program Periods</label>
        <locationX>1218</locationX>
        <locationY>1104</locationY>
        <connector>
            <targetReference>DECISION_Funding_Program_End_Date</targetReference>
        </connector>
        <inputReference>Program_Periods</inputReference>
    </recordUpdates>
    <start>
        <locationX>1239</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>DECISION_Required_Operation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Funding_Period</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Period__c</objectType>
    </variables>
    <variables>
        <name>Funding_Period_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Funding_Program</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Funding_Program__c</objectType>
    </variables>
    <variables>
        <name>Funding_Program_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Activated_Funding_Program</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Expired_Funding_Period</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Expired_Reporting_Period</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Open_Reporting_Period_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Program_Periods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Period__c</objectType>
    </variables>
    <variables>
        <name>Reporting_Period</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Period__c</objectType>
    </variables>
    <variables>
        <name>Reporting_Period_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
