src/flows/Invoice_Line_Item_Block_Funding_Program_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Funding_Period_Totals</name>
        <label>ASSIGN Funding Period Totals</label>
        <locationX>411</locationX>
        <locationY>2018</locationY>
        <assignmentItems>
            <assignToReference>GET_Funding_Period.Period_Total_Value__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.maica_cc__Line_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Funding_Period.Period_Total_Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.maica_cc__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Record_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Funding_Period_Totals_0</name>
        <label>ASSIGN Funding Period Totals</label>
        <locationX>668</locationX>
        <locationY>2202</locationY>
        <assignmentItems>
            <assignToReference>GET_Funding_Period.Casual_Contact_Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.maica_cc__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Record_to_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Plans_Counter</name>
        <label>ASSIGN Plans Counter</label>
        <locationX>807</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>Plans_Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_Plans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VALIDATE_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Record_to_Collection</name>
        <label>ASSIGN Record to Collection</label>
        <locationX>411</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Program_Periods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_Reporting_Period_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Funding_Period</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Record_to_Collection_0</name>
        <label>ASSIGN Record to Collection</label>
        <locationX>410</locationX>
        <locationY>2206</locationY>
        <assignmentItems>
            <assignToReference>Program_Periods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_Funding_Period</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Program_Periods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Record_to_Collection_0_0</name>
        <label>ASSIGN Record to Collection</label>
        <locationX>668</locationX>
        <locationY>1818</locationY>
        <assignmentItems>
            <assignToReference>Program_Periods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_Reporting_Period_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Funding_Period_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Record_to_Collection_0_0_0</name>
        <label>ASSIGN Record to Collection</label>
        <locationX>668</locationX>
        <locationY>2397</locationY>
        <assignmentItems>
            <assignToReference>Program_Periods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_Funding_Period_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Program_Periods_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Reporting_Period_ID</name>
        <label>ASSIGN Reporting Period ID</label>
        <locationX>1146</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>Reporting_Period_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Reporting_Period.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Reporting_Period_ID_0</name>
        <label>ASSIGN Reporting Period ID</label>
        <locationX>1340</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Reporting_Period_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Reporting_Period.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Reporting_Period_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Reporting_Period_Totals</name>
        <label>ASSIGN Reporting Period Totals</label>
        <locationX>412</locationX>
        <locationY>1407</locationY>
        <assignmentItems>
            <assignToReference>GET_Reporting_Period_0.Period_Total_Value__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.maica_cc__Line_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_Reporting_Period_0.Period_Total_Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.maica_cc__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Reporting_Period_Totals_0</name>
        <label>ASSIGN Reporting Period Totals</label>
        <locationX>668</locationX>
        <locationY>1628</locationY>
        <assignmentItems>
            <assignToReference>GET_Reporting_Period_0.Casual_Contact_Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.maica_cc__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Record_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Service_Date</name>
        <label>ASSIGN Service Date</label>
        <locationX>807</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>$Record.maica_cc__Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.maica_cc__Delivery_Activity__r.maica_cc__Appointment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Plans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DECISION_De_Identification</name>
        <label>DECISION De-Identification</label>
        <locationX>660</locationX>
        <locationY>1409</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Reporting_Period_Totals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>De_Identified_Sessions_ONLY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Reporting_Period_0.Funding_Program__r.De_identified_Sessions_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Reporting_Period_Totals_0</targetReference>
            </connector>
            <label>De-Identified Sessions ONLY</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Funding_Type</name>
        <label>DECISION Funding Type</label>
        <locationX>528</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Block_Funded_AND_Service_Date_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.maica_cc__Service_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.maica_cc__Agreement_Item__r.maica_cc__Service_Agreement__r.maica_cc__Funding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block Funded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Service_Date</targetReference>
            </connector>
            <label>Block Funded AND Service Date = NULL</label>
        </rules>
        <rules>
            <name>Block_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.maica_cc__Agreement_Item__r.maica_cc__Service_Agreement__r.maica_cc__Funding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block Funded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Plans</targetReference>
            </connector>
            <label>Block Funded</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Funding_Period_Totals</name>
        <label>VALIDATE Funding Period Totals</label>
        <locationX>1324</locationX>
        <locationY>1171</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Reporting_Period_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Targets Reached</defaultConnectorLabel>
        <rules>
            <name>Targets_NOT_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Funding_Period_Total_Add_Invoice_Line_Item_Total</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GET_Reporting_Period.Funding_Period__r.Funding_Period_Target_Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Funding_Period_Total_Quantity_Add_Invoice_Line_Item_Quantity</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GET_Reporting_Period.Funding_Period__r.Funding_Period_Target_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Reporting_Period_ID_0</targetReference>
            </connector>
            <label>Targets NOT Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Plans</name>
        <label>VALIDATE Plans</label>
        <locationX>799</locationX>
        <locationY>823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plans_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Plans_Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Plans</targetReference>
            </connector>
            <label>Plans Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Program_Product</name>
        <label>VALIDATE Program Product</label>
        <locationX>1324</locationX>
        <locationY>959</locationY>
        <defaultConnector>
            <targetReference>LOOP_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Program Product Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Program_Product_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Program_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VALIDATE_Funding_Period_Totals</targetReference>
            </connector>
            <label>Program Product Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Reporting_Period</name>
        <label>VALIDATE Reporting Period</label>
        <locationX>1321</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>LOOP_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reporting Period Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Reporting_Period_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Reporting_Period</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Program_Product</targetReference>
            </connector>
            <label>Reporting Period Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Reporting_Period_ID</name>
        <label>VALIDATE Reporting Period ID</label>
        <locationX>966</locationX>
        <locationY>1168</locationY>
        <defaultConnectorLabel>Reporting Period ID IS NULL</defaultConnectorLabel>
        <rules>
            <name>Reporting_Period_ID_is_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_Period_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Reporting_Period_0</targetReference>
            </connector>
            <label>Reporting Period ID is NOT NULL</label>
        </rules>
    </decisions>
    <description>Record triggered flow validates if Invoice Line Item should be assigned to a Block Funding Program&apos;s Reporting Period</description>
    <environments>Default</environments>
    <formulas>
        <name>Funding_Period_Total_Add_Invoice_Line_Item_Total</name>
        <dataType>Number</dataType>
        <expression>{!GET_Reporting_Period.Funding_Period__r.Period_Total_Value__c}+{!$Record.maica_cc__Line_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Funding_Period_Total_Quantity_Add_Invoice_Line_Item_Quantity</name>
        <dataType>Number</dataType>
        <expression>{!GET_Reporting_Period.Funding_Period__r.Period_Total_Quantity__c}+{!$Record.maica_cc__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Invoice Line Item - Block Funding Program Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Line Item - Block Funding Program Assignment</label>
    <loops>
        <name>LOOP_Plans</name>
        <label>LOOP Plans</label>
        <locationX>1059</locationX>
        <locationY>816</locationY>
        <collectionReference>GET_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GET_Reporting_Period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VALIDATE_Reporting_Period_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Funding_Period</name>
        <label>GET Funding Period</label>
        <locationX>412</locationX>
        <locationY>1821</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Funding_Period_Totals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Reporting_Period_0.Funding_Period__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Funding_Period_0</name>
        <label>GET Funding Period</label>
        <locationX>668</locationX>
        <locationY>2015</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Funding_Period_Totals_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Reporting_Period_0.Funding_Period__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Plans</name>
        <label>GET Plans</label>
        <locationX>807</locationX>
        <locationY>461</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Plans_Counter</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ((5 AND 6) OR 7)</filterLogic>
        <filters>
            <field>Service_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.maica_cc__Agreement_Item__r.maica_cc__Service_Agreement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>maica_cc__Funding_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Block Funded</stringValue>
            </value>
        </filters>
        <filters>
            <field>maica_cc__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.maica_cc__Service_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>maica_cc__Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>maica_cc__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.maica_cc__Service_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>maica_cc__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>maica_cc__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>maica_cc__Funding__c</object>
        <sortField>Program_Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Program_Product</name>
        <label>GET Program Product</label>
        <locationX>1476</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Program_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOOP_Plans.Funding_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Support_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.maica_cc__Support_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Support_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Reporting_Period</name>
        <label>GET Reporting Period</label>
        <locationX>1058</locationX>
        <locationY>616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Reporting_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Period_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Period_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.maica_cc__Service_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.maica_cc__Service_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funding_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOOP_Plans.Funding_Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Reporting_Period_0</name>
        <label>GET Reporting Period</label>
        <locationX>975</locationX>
        <locationY>1407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_De_Identification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reporting_Period_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Delivery_Activity</name>
        <label>UPDATE Delivery Activity</label>
        <locationX>539</locationX>
        <locationY>2852</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>maica_cc__Invoice_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reporting_Period__c</field>
            <value>
                <elementReference>GET_Reporting_Period_0.Id</elementReference>
            </value>
        </inputAssignments>
        <object>maica_cc__Delivery_Activity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Invoice_Line_Item</name>
        <label>UPDATE Invoice Line Item</label>
        <locationX>408</locationX>
        <locationY>2609</locationY>
        <connector>
            <targetReference>UPDATE_Delivery_Activity</targetReference>
        </connector>
        <inputAssignments>
            <field>Reporting_Period__c</field>
            <value>
                <elementReference>Reporting_Period_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Program_Periods</name>
        <label>UPDATE Program Periods</label>
        <locationX>409</locationX>
        <locationY>2403</locationY>
        <connector>
            <targetReference>UPDATE_Invoice_Line_Item</targetReference>
        </connector>
        <inputReference>Program_Periods</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Program_Periods_0</name>
        <label>UPDATE Program Periods</label>
        <locationX>668</locationX>
        <locationY>2609</locationY>
        <connector>
            <targetReference>UPDATE_Delivery_Activity</targetReference>
        </connector>
        <inputReference>Program_Periods</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>50</locationY>
        <object>maica_cc__Invoice_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>T_3</name>
            <connector>
                <targetReference>DECISION_Funding_Type</targetReference>
            </connector>
            <label>T+3</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Plans_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Program_Periods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Period__c</objectType>
    </variables>
    <variables>
        <name>Reporting_Period_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
