src/flows/Program_Period_Triggered_Evaluation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DECISION_End_Date</name>
        <label>DECISION End Date</label>
        <locationX>665</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funding_Period_End_Date_Current_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Period_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Period_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funding_Program__r.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Sub_Flow</targetReference>
            </connector>
            <label>Funding Period End Date &lt; Current Date</label>
        </rules>
        <rules>
            <name>Reporting_Period_End_Date_Current_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Period_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reporting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Period_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funding_Period__r.Period_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Active_Reporting_Period</targetReference>
            </connector>
            <label>Reporting Period End Date &lt; Current Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>VALIDATE_Active_Reporting_Period</name>
        <label>VALIDATE Active Reporting Period</label>
        <locationX>919</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>Trigger_Sub_Flow_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Reporting Period Does NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Active_Reporting_Period_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Active_Reporting_Period</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Active Reporting Period Exists</label>
        </rules>
    </decisions>
    <description>Triggered flow calls sub-flow for data operations if required.</description>
    <environments>Default</environments>
    <interviewLabel>Program Period - Triggered Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Period - Triggered Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Active_Reporting_Period</name>
        <label>GET Active Reporting Period</label>
        <locationX>927</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VALIDATE_Active_Reporting_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funding_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funding_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funding_Period__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Period_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Period_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>547</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>DECISION_End_Date</targetReference>
        </connector>
        <filterFormula>        OR(
                ISNEW(), ISCHANGED({!$Record.Period_End_Date__c})
)</filterFormula>
        <object>Program_Period__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Trigger_Sub_Flow</name>
        <label>Trigger Sub-Flow</label>
        <locationX>505</locationX>
        <locationY>688</locationY>
        <flowName>Block_Funding_Generate_Program_Periods</flowName>
        <inputAssignments>
            <name>Funding_Period_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Funding_Program_Id</name>
            <value>
                <elementReference>$Record.Funding_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Is_Expired_Funding_Period</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Trigger_Sub_Flow_0</name>
        <label>Trigger Sub-Flow</label>
        <locationX>926</locationX>
        <locationY>912</locationY>
        <flowName>Block_Funding_Generate_Program_Periods</flowName>
        <inputAssignments>
            <name>Funding_Program_Id</name>
            <value>
                <elementReference>$Record.Funding_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Is_Expired_Reporting_Period</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reporting_Period_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
